<!-- <div class="card-form">
    
    <div class="contenido-form">

  
        <h1>Registrarse</h1>
        <mat-card-content>

            <div class="form">
                <form>

                    <div>
                        <mat-grid-list cols="4" rowHeight="50px">

                            <mat-grid-tile colspan="2" rowspan="2">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nombre </mat-label>
                                    <input matInput placeholder="Introduzca su nombre completo">
                                    <mat-icon matSuffix>badge</mat-icon>
                                   </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile colspan="2" rowspan="2" >
                                <mat-form-field appearance="legacy">
                                    <mat-label>Apellido </mat-label>
                                    <input matInput placeholder="Introduzca su apellido" >
                                    <mat-icon matSuffix>badge</mat-icon>
                                   </mat-form-field>
                            </mat-grid-tile>
                           

                            <mat-grid-tile colspan="2" rowspan="2" >
                                <mat-form-field appearance="legacy">
                                    <mat-label>Telefono </mat-label>
                                    <input matInput placeholder="Introduzca su telefono" >
                                    <mat-icon matSuffix>phone</mat-icon>
                                   </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile colspan="2" rowspan="2">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Direccion </mat-label>
                                    <input matInput placeholder="Introduzca su direccion">
                                    <mat-icon matSuffix>location_on</mat-icon>
                                   </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile colspan="4" rowspan="1">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Username o E-mail</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    <mat-icon matSuffix>email</mat-icon>
                                   </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile colspan="4" rowspan="2">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput placeholder="Contraseña">
                                    <mat-icon matSuffix>lock</mat-icon>
                                   </mat-form-field>
                            </mat-grid-tile>
                            
                            <mat-grid-tile colspan="4" rowspan="1">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Confirmar contraseña</mat-label>
                                    <input matInput placeholder="Confirmar contraseña">
                                    <mat-icon matSuffix>lock</mat-icon>
                                   </mat-form-field>
                            </mat-grid-tile>

                          </mat-grid-list>
                    </div>
 
                  
                </form>
            </div>
      

        </mat-card-content>

        <mat-card-actions>
            <mat-grid-list cols="4" >
                
                <mat-grid-tile colspan="4" rowspan="1">
                    <button class="button-login" mat-raised-button color="primary" (click)="registerUser()">Registrarme</button>
                </mat-grid-tile>
                
            </mat-grid-list>

            <div class="crear-cuenta">
                <br>
                <p>
                    ¿Ya tienes una cuenta? <br> 
                    <a routerLink="/auth/login">Iniciar sesion</a>
                </p>
                 
            </div>
           
        </mat-card-actions>
       </div>
</div> -->
<div>
    <div class="head">
        <h1>Registro</h1>
        <h4>Facíl y rapido</h4>
    </div>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Información personal</ng-template>

            <br>
            <h5>Información basica</h5>
            <mat-grid-list cols="8" rowHeight="70px">
                <mat-grid-tile colspan=4>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Ingrese su nombre completo" formControlName="firstCtrl" >
                      </mat-form-field>
                </mat-grid-tile>
            
                <mat-grid-tile colspan=4>
                    <mat-form-field>
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="Ingrese su apellido" formControlName="firstCtrl" >
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan=4>
                    <mat-form-field>
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan=4>
                    <mat-form-field>
                        <mat-label>Sexo</mat-label>
                        <mat-select  formControlName="firstCtrl">
                          <mat-option value="hombre">Hombre</mat-option>
                          <mat-option value="mujer">Mujer</mat-option>
                          <mat-option value="otro">Otro</mat-option>

                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-divider></mat-divider>
            <br>


            <div style="float: right;">
              <button mat-button matStepperNext color="primary">Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" >
            
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Información de la cuenta</ng-template>
            
            <mat-grid-list cols="4" rowHeight="70px">
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-label>Correo</mat-label>
                  <input matInput formControlName="secondCtrl" placeholder="Ex. tucorreo@gmail.com"
                  >
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-label>Contraseña</mat-label>
                  <input matInput formControlName="secondCtrl" placeholder="Ex. tucorreo@gmail.com"
                         >
                         <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="4">
                <mat-form-field >
                  <mat-label>Confirmación de contraseña</mat-label>
                  <input matInput formControlName="secondCtrl" placeholder="Ex. tucorreo@gmail.com">
                  <mat-icon matSuffix>lock</mat-icon>
                        
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
           
            <mat-divider></mat-divider>
        
            <div style="float: right;">
              <button mat-button matStepperPrevious >Atras</button>
              <button mat-button matStepperNext color="primary">Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Hecho</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-button (click)="stepper.reset()" color="primary">Reiniciar</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      
</div>
