<div class="card-form">
    
    <div class="contenido-form">

  
        <h1>Recuperar contraseña</h1>
        <mat-card-content>

            <div class="form">
                <form [formGroup]="formulario">

                    <div>
                        <mat-form-field appearance="legacy">
                          <mat-label>E-mail</mat-label>
                          <input type="email" matInput placeholder="Ingrese su email" formControlName="email">
                          <mat-icon matSuffix>email</mat-icon>
                          <mat-error *ngIf="formulario.controls.email.hasError('required')">
                            El Email es  <strong>Obligatorio</strong>
                          </mat-error>
                          <mat-error *ngIf="formulario.controls.email.hasError('email')">
                            El patrón del email es <strong>invalido</strong>
                          </mat-error>
                         </mat-form-field>
                    </div>
                
                </form>
            </div>
        
   

        </mat-card-content>
        
        <br>

        <mat-card-actions>
            <mat-grid-list cols="4" rowHeight="50px">
               
                <mat-grid-tile colspan="4" rowspan="2">
                    <button (click)="recuperarPassword()" class="button-recuperar" mat-raised-button color="primary" [disabled]="formulario.invalid">enviar</button>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowHeight="2">
                    <strong style="color: #df4759;">Se te enviara un correo a tu email para hacer el cambio de tu contraseña</strong>
                 </mat-grid-tile>

                 <mat-grid-tile colspan="4" rowspan="1">
                    <a routerLink="/login">
                        Ir al inicio de sesión
                    </a>
                </mat-grid-tile>
                 
            </mat-grid-list>

            

         
           

        </mat-card-actions>
       </div>
</div>

 