
 
form mat-form-field{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.form{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.button-login{
    width: 70%;
}

mat-grid-tile button{
    margin: 10px;
}

mat-grid-tile button i{
    font-size: 18px;
}

.crear-cuenta{
    margin: 10px;
    text-align: center;
} 

 