<div class="card-form">
    
    <div class="contenido-form">

  
        <h1>Iniciar sesion</h1>
        <mat-card-content>

            <div class="form">
                <form>

                    <div>
                        <mat-form-field appearance="legacy">
                          <mat-label>Username o E-mail</mat-label>
                          <input matInput placeholder="Placeholder">
                          <mat-icon matSuffix>email</mat-icon>
                         </mat-form-field>
                    </div>
    
                    <div>
                        <mat-form-field appearance="legacy">
                          <mat-label>Contraseña</mat-label>
                          <input matInput placeholder="Placeholder">
                          <mat-icon matSuffix>lock</mat-icon>
                         </mat-form-field>
                    </div>
    
                </form>
            </div>
        
            <div>
                <mat-checkbox color="primary">Recordar usuario</mat-checkbox>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <mat-grid-list cols="4" rowHeight="50px">
               
                <mat-grid-tile colspan="4" rowspan="2">
                    <button (click)="loginUser()" class="button-login" mat-raised-button color="primary">Ingresar</button>
                </mat-grid-tile>
                 
            </mat-grid-list>

            <div class="crear-cuenta">
                <br>
                <p>
                    ¿No tienes cuenta? <br> 
                    <a routerLink="/auth/registro">crear un cuenta</a>
                </p>
                 
            </div>
           

            <mat-grid-list cols="1" rowHeight="100px">
                 <mat-grid-tile>
                    <button mat-fab style="background-color: #4078c0;color: #fff;">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                        <i class="fab fa-google"></i>
                    </button>
                    <button mat-fab style="background-color: #333;color: #fff;"  aria-label="Example icon button with a delete icon">
                        <i class="fab fa-github"></i>
                    </button>
                 </mat-grid-tile>
             </mat-grid-list>

        </mat-card-actions>
       </div>
</div>

 