<div class="card-form">
    
    <div class="contenido-form">

  
        <h1>Iniciar sesion</h1>
        <mat-card-content>

            <div class="form">
                <form [formGroup]="formulario">

                    <div>
                        <mat-form-field appearance="legacy">
                          <mat-label>E-mail</mat-label>
                          <input type="email" matInput placeholder="Ingrese su email" formControlName="email">
                          <mat-icon matSuffix>email</mat-icon>
                          <mat-error *ngIf="formulario.controls.email.hasError('required')">
                            El Email es  <strong>Obligatorio</strong>
                          </mat-error>
                          <mat-error *ngIf="formulario.controls.email.hasError('email')">
                            El patrón del email es <strong>invalido</strong>
                          </mat-error>
                         </mat-form-field>
                    </div>
    
                    <div>
                        <mat-form-field appearance="legacy">
                          <mat-label>Contraseña</mat-label>
                          <input type="password" matInput placeholder="Ingrese su contraseña" formControlName="password">
                          <mat-icon matSuffix>lock</mat-icon>
                          <mat-error *ngIf="formulario.controls.password.hasError('required')">
                            La Contraseña es  <strong>Obligatoria</strong>
                          </mat-error>
                          <mat-error *ngIf="formulario.controls.password.hasError('minlength')">
                            La contraseña debe tener minimo <strong>7 caracteres</strong>
                          </mat-error>
                         </mat-form-field>
                    </div>
    
                </form>
            </div>
        
   

        </mat-card-content>
        
        <br>

        <mat-card-actions>
            <div>
                <mat-checkbox color="primary">Recordar usuario</mat-checkbox>
            </div>
            <mat-grid-list cols="4" rowHeight="50px">
               
                <mat-grid-tile colspan="4" rowspan="2">
                    <button (click)="loginUser()" class="button-login" mat-raised-button color="primary" [disabled]="formulario.invalid">Ingresar</button>
                </mat-grid-tile>
                 
            </mat-grid-list>

            <div class="crear-cuenta">
                <br>
                <p>
                    <button (click)="registro()" mat-raised-button >Crear un cuenta</button>
                </p>
                 
            </div>
           

            <mat-grid-list cols="12" rowHeight="100px">
                 <mat-grid-tile colspan="12">
                    <button mat-fab style="background-color: #4078c0;color: #fff;">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                     <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                        <i class="fab fa-google"></i>
                    </button>
                     
                    <button mat-fab style="background-color: #333;color: #fff;"  aria-label="Example icon button with a delete icon">
                        <i class="fab fa-github"></i>
                    </button>
                 </mat-grid-tile>
             </mat-grid-list>

        </mat-card-actions>
       </div>
</div>

 