
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snotify{
  width: 400px;
  height: 100px;
}
.snotifyToast__title{
  font-size:18px;
  margin-top: 10px;
}
.snotifyToast__body{
  font-size: 13px;
}

.card-form{
    margin-top: 100px;
    background-color: #fff;
    width: 300px;
    margin: 0px auto;
 }

.snotifyToast{
 box-shadow:4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}
//  .contenido-form{
//      padding-top: 50px;
//      padding-bottom: 90px;
//  }
 
// @media (max-width: 600px) {
//     .card-form {
//         width: 100%;
//     }
//   }

// @media (min-width: 600px) {
//     .card-form {
//         width: 100%;
//     }
//   }

//   @media (min-width: 805px) {
//     .card-form {
//       width: 500px;
//     }
//   }